.btn-primary {
  background-color: #cc0000;
  border-color: #cc0000;
}

.bg-primary {
  background-color: #cc0000 !important;
}

.border-primary {
  border-color: #cc0000 !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #e30606;
    border-color: #e30606;
}

.btn-outline-primary {
    color: #cc0000;
    border-color: #cc0000;
}
